
$verde:rgb(7, 60, 0);
$blanco:#fff;

$colors:(
    green1:rgb(4, 163, 4),
    white1:rgb(255, 255, 255),
    black1:black,
    grey1:grey,
    transparent1:transparent
);

$tamanos:(
    10vh:10vh,
    20vh:20vh,
    25vh:25vh,
    50vh:50vh,
    75vh:75vh,
    80vh:80vh,
    90vh:90vh,
    100vh:100vh,
    10vw:10vw,
    20vw:20vw,
    25vw:25vw,
    50vw:50vw,
    75vw:75vw,
    80vw:80vw,
    90vw:90vw,
    100vw:100vw
);

$justify:(
    center:center,
    end:end,
    start:start,
    around:space-around,
    between:space-between,
    evenly:space-evenly
);

$align:(
    center:center,
    end:end,
    start:start,
    stretch:stretch
);

@keyframes glowing{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

@mixin background($position,$repeat,$size,$attachment){
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
    background-attachment:$attachment;
}